In [31]:
def my_reduce(function,iterable,initializer=None):
    iterable_ = iter(iterable)
    if initializer is None:
        value = next(iterable_)
    else:
        value = initializer
    for i in iterable_:
        value = function(value,i)

    return value

In [32]:
my_reduce(lambda a,b:a+b,[1,2,3,4,5,6,7])

28

In [33]:
my_reduce(lambda a,b:a+b,[1,2,3,4],50)

60

In [40]:
def my_filter_even(n):
    list =[]
    for i in n:
        if i%2==0:
            list.append(i)
    return list

In [41]:
my_filter_even([1,2,3,4,5,56,78,88])

[2, 4, 56, 78, 88]

In [1]:
x= [[i,i*2,i*3,i*4] for i in 'xyz']
[j for i in x for j in i]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [2]:
q=[]
[q.append(i) for i in 'xyz']
[q.append(i*2) for i in 'xyz']
[q.append(i*3) for i in 'xyz']
[q.append(i*4) for i in 'xyz']
q

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [6]:
x =[[[i],[i+1],[i+2]] for i in range(2,5)]
[j for i in x for j in i ]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [7]:

[[i,i+1,i+2,i+3] for i in range(2,6)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [8]:
[(j,i) for i in range(1,4) for j in range(1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]